@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
body{
    font-family: "Merriweather", serif;

} 
* {
box-sizing: border-box;
margin: 0;
padding: 0;
}
/*banner section*/
.banner-container {
    max-width: 1320px;
    margin: 0 auto;
    border: 2px solid red;
    min-height: 600px;
    margin-top: 20px;
    background-color:rgba(0, 0, 0, 0.4);
    background-blend-mode: overlay;
background-image: url(images/Banner\ Image.png);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}
.banner-content p,h1{
    color: white;
}
.banner-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
}
.banner-content h1{
    font-size: 72px;
font-weight: 900;
text-align: center;
}
.banner-content p{
    font-size: 32px;
    font-weight: 400; 
 
}
/* main style*/
.second-section-container{
    width: 802.9px;git
    height: 806px;
    
    margin: 0 auto ;
    margin-top: 90px;
}
.second-section-content h2{
    font-size: 88px;
    font-weight: 700;
    color: rgb(228, 8, 8);
    text-align: center;
    
    
}
.second-section-content p{
    font-size: 24px;
font-weight: 500;
text-align: center;
margin-top: 40px;
color: rgb(255, 0, 0);
}
.second-section-content h3{
    font-size: 35px;
font-weight: 700;
text-align: center;
font-family: Inter;

}
.image-conainer{
    width: 802.9px;
height: 500px;
}
.image-conainer img{
    width: 100%;
height: 100%;
}
/*midnight party style*/
.midnight-party-container{
    width: 1320px;
height: 600px;
border: 2px solid red;
margin: 0 auto;
display: flex;
background-image: url("images/Vectorrr.png");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
.leftside-content{
   width: 50%; 
   height: 600px;
   
   display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
}
.rightside-content{
    width: 50%; 
    height: 600px;

    align-items: center;

}
.leftside-content h3{
     color: rgb(205, 200, 200);
 font-family: Merriweather;
 font-size: 64px;
 font-weight: 900;
}
#leftside-content-join{
font-size: larger;   
position: relative;
width: 167px;
height: 56px;
display: flex;
flex-direction: row;
justify-content: center;
color: white;
}
.rightside-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.rightside-content img{
    height: 70%;
    width: 60%;
    background-color: ;
}